{% templatetag openblock %} extends "core/base_vue.html" {% templatetag closeblock %}

{% templatetag openblock %} block header {% templatetag closeblock %}
<title>HappySchool : {{ app_name }}</title>

{% templatetag openblock %} endblock {% templatetag closeblock %}
{% templatetag openblock %} block content {% templatetag closeblock %}
{% templatetag openblock %} load render_bundle from webpack_loader {% templatetag closeblock %}

<script>
    const current_app = "{{ app_name }}";
    const settings = JSON.parse('{% templatetag openvariable %} settings|safe {% templatetag closevariable %}');;
    const menu = {% templatetag openvariable %} menu|safe {% templatetag closevariable %};
</script>
<div id="vue-app"></div>

{% templatetag openblock %} render_bundle "{{ app_name }}" {% templatetag closeblock %}

{% templatetag openblock %} endblock {% templatetag closeblock %}
